#map {
    height: 50rem;
    width: 90%;
    margin: 0 auto;
    z-index: 10;
}

.map {
    text-align: center;
}

#main-map {
    position: relative;
    display: block;
}

#sub-map {
    height: 25vh;
    width: 40vh;
    position: absolute;
    bottom: 30px;
    right: 170px;
    border: 4px solid #333;
    z-index: 99;
    background-color: #ccc;
    box-shadow: 4px 4px;
}

.custom-icon .circle {
    background-color: black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    animation: pulse 1.5s infinite;
    /* アニメーションを適用 */
}


@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        /* 拡大 */
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}



#what-cool-project-logo {
    position: absolute;
    width: 55%;
    left: 40%;
    height: 30%;

}


.custom-pin {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid;
  box-sizing: border-box;
}

.custom-pin::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid;
}

.inner-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* ピンク色のピン */
.pin-fa00c8 {
  background-color: #FA00C8;
  border-color: #FA00C8;
}

.pin-fa00c8::after {
  border-top-color: #FA00C8;
}

/* 青色のピン */
.pin-010937 {
  background-color: #010937;
  border-color: #010937;
}

.pin-010937::after {
  border-top-color: #010937;
}