@charset "utf-8";

/* common */
:root {
  /* --large-font-size: 32pt; */
  --large-font-size: 3rem;
  /* --normal-font-size: 16pt; */
  --normal-font-size: 1rem;
  --main-color: #ccc;
  --font-color: #010937;
  --font-family: 'Noto Sans JP', sans-serif;
  --font-weight-bold: 900;
  --XL-font-size: 3rem;
}

* {
  /* background-color: var(--main-color); */
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--normal-font-size);
  color: var(--font-color);
  box-sizing: border-box;
}


html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 10rem;
  background-color: var(--main-color);
  /* フッターの高さ以上の値を設定 */
}

p {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: text-bottom;
  object-fit: cover;
}

.hover:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* 影を追加 */
}

.item:hover {
  transform: scale(1.01);
}

header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
  padding: 2rem;
  position: sticky;
  background-color: var(--main-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: 1rem;
}

.header-title {
  margin: 0;
  padding: 0;
  margin-left: 3rem;
  font-size: var(--large-font-size);
}

.header-right {
  display: flex;
  gap: 2rem;
  margin-right: 1rem;
  font-size: 1rem;
}

.vertical-line {
  width: 3rem;
  height: 6rem;
  background-color: #fb00ff;
  position: absolute;
  top: 0;
  left: 2rem;
}



.hero-container {
  padding-left: 2rem;
}


.text-content .highlight {
  font-size: var(--large-font-size);
  padding-left: 2rem;
}



.bigFont .highlight {
  font-size: var(--large-font-size);
}

.highlight {
  background-color: #010937;
  color: #F5F3F3;
}

.call-to-action {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.call-title {
  font-size: var(--large-font-size);
}

.under-line {
  border-bottom: 0.5rem solid #010937;
}

.arrow-image {
  width: 4rem;
  height: 4rem;
}


.menu-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: auto;
  margin: 0;
  padding: 0;
  margin-top: 3rem;
}

.menu-title {
  font-size: var(--large-font-size);
  margin: 0.5rem;
}

.menu-paragraph {
  margin: 2rem auto;
  text-align: left;
  word-wrap: break-word;
  width: 50%;
}

.menu-text {
  width: 60%;
  height: 10%;
  padding: 1rem;
  background-color: #010937;
  color: #F5F3F3;
  text-align: right;
  font-size: var(--large-font-size);
}

.intro-title {
  width: 60%;
  height: 10%;
  font-size: var(--large-font-size);
  border-bottom: 0.5rem solid #010937;
  border-top: 0.5rem solid #010937;
  border-right: 0.5rem solid #010937;
  text-align: right;
  padding: 1rem;
  padding-right: 1rem;
}

.intro-title.reversed {
  margin-left: auto;
  text-align: left;
  border-left: 0.5rem solid #010937;
  border-right: none;
  padding-left: 1rem;
}

.howto-container {
  width: calc(100% - 10rem);
  display: grid;
  display: flex;
  justify-content: center;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 0 auto;
}





.item {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  text-align: left;
}

.item.p {
  margin: 1rem;
}

.img-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}


.item p {
  width: 20rem;
  word-wrap: break-word;
  font-size: var(--normal-font-size);
}

.record {
  width: 20rem;
  height: 20rem;
}


/* footer */
footer {
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-color);
  z-index: 100;
}

.footer-container {
  border-top: 0.5rem solid #010937;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.footer-left {
  display: flex;
  gap: 1rem;
}

.footer-left a {
  font-family: var(--font-family);
  color: var(--font-color);
  font-weight: bold;
  margin-left: 1rem;
}

.footer-right p {
  font-family: var(--font-family);
  font-weight: bold;
  color: var(--font-color);
  padding: 1rem;
}


/* -----shareSNS.html----- */
#SNS-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  display: inline-block;
  z-index: 10;
}

#SNS-menu h1 {
  background-color: transparent;
}

#SNS-menu span {
  font-size: 5rem;
  display: inline-block;
}

.SNS-container {
  display: inline-block;
  position: relative;
  margin-top: 1rem;
  width: 100%;
}

.SNS-title {
  font-size: 3rem;
}

.SNS-items {
  position: absolute;
  top: 50%;
  left: 0;
  border: 5px solid black;
  border-left: none;
  display: inline-block;
  z-index: 10;
}

.SNS-icons {
  display: flex;
  padding: 1rem;
  gap: 2rem;
}

.SNS-icon {
  width: 6rem;
}

.bk-img {
  position: relative;
  border: 0.5rem solid black;
  width: 50%;
  height: auto;
  object-fit: cover;
  float: right;
  margin-right: 4rem;
}

form {
  margin: 1rem;
}


/* mapのpin周り */
#map {
  height: 500px;
}

.custom-pin {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid;
  box-sizing: border-box;
}

.custom-pin::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid;
}

.inner-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* ピンク色のピン */
.pin-fa00c8 {
  background-color: #FA00C8;
  border-color: #FA00C8;
}

.pin-fa00c8::after {
  border-top-color: #FA00C8;
}

/* 青色のピン */
.pin-010937 {
  background-color: #010937;
  border-color: #010937;
}

.pin-010937::after {
  border-top-color: #010937;
}



.share-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


@media (max-width: 768px) {

  /* 画面幅が768px以下の場合 */
  :root {
    /* --large-font-size: 32pt; */
    --large-font-size: 1.5rem;
    /* --normal-font-size: 16pt; */
    --normal-font-size: 1rem;
    --main-color: #ccc;
    --font-color: #010937;
    --font-family: 'Noto Sans JP', sans-serif;
    --font-weight-bold: 900;
  }

  .bigFont .highlight {
    font-size: 2rem;
  }

  .intro-title {
    width: 100%;
    font-size: var(--large-font-size);
    border: 0.5rem solid #010937;
    padding-right: 1rem;
    text-align: right;
  }

  .intro-title.reversed {
    width: 100%;
    margin-left: auto;
    text-align: left;
    font-size: var(--large-font-size);
    padding-left: 1rem;
  }

  .menu-text {
    width: 100%;
    height: 10%;
    padding: 1rem;
    background-color: #010937;
    color: #F5F3F3;
    text-align: center;
  }

  img {
    width: 90%;
    height: 100%;
    object-fit: cover;
  }

  .arrow-image {
    width: 2rem;
    height: 2rem;
  }

  .vertical-line {
    display: none;
  }

  header {
    display: none;
  }

  footer {
    display: none;
  }
}