@charset "utf-8";

/* common */
:root {
  --large-font-size: 32pt;
  /* --large-font-size: 2rem; */
  --normal-font-size: 16pt;
  /* --normal-font-size: 1rem; */
  --main-color: #ccc;
  --font-color: #010937;
  --font-family: 'Noto Sans JP', sans-serif;
  --font-weight-bold: 900;
  --XL-font-size: 64pt;
}

* {
  /* background-color: var(--main-color); */
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--normal-font-size);
  color: var(--font-color);
  box-sizing: border-box;
}



html {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);

  /* フッターの高さ以上の値を設定 */
}

p {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;

}

.hover:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  /* 影を追加 */
}

.item:hover {
  transform: scale(1.01);

}

header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
  position: sticky;
  background-color: var(--main-color);
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.header-left {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: 1rem;
}

.header-title {
  margin: 0;
  padding: 0;
  margin-left: 3rem;
  font-size: var(--large-font-size);
}

.header-right {
  display: flex;
  gap: 2rem;
  margin-right: 1rem;
  font-size: 1rem;
}

.hero-container{
  overflow: hidden;
  padding-top: 4rem;
}



#what-cool-wave {
  margin: 0;
  max-width: 70%;
  margin-left: 1rem;
}

.what-cool-project {
  width: 100%;
  margin-top: 1rem;
  max-width: 100%;
}


.text-content {
  /* position: relative; */
  margin-top: 1rem;
}

.text-content .highlight {
  font-size: var(--XL-font-size);
  padding-left: 2rem;
}

.highlight::after {
  content: '';
  display: block; /* ブロック要素として表示 */
}

.bigFont {
  font-size: var(--XL-font-size);
}

.highlight {
  background-color: #010937;
  color: #F5F3F3;

}



.call-to-action {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding-left: 2rem;
  text-decoration:underline;
}

.call-title {
  font-size: var(--XL-font-size);
  margin-bottom: 1rem;
}

.under-line {
  border-bottom: 0.5rem solid #010937;
}

.arrow-image {
  width: var(--large-font-size);
  height: var(--large-font-size);
}


.menu-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: auto;
  margin: 0;
  padding: 0;
  margin-top: 3rem;
  max-width: 100%;
  overflow: hidden;
}



.menu-title {
  font-size: var(--large-font-size);
  margin: 0.5rem;
}

.menu-paragraph {
  margin: 2rem auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  width: 30%;
  border: 0.5rem solid var(--font-color);
  gap: 2rem;
  padding: 1rem;
}

.menu-text {
  position: relative;
  width: 60%;
  height: 10%;
  padding: 1rem;
  background-color: #010937;
  color: #F5F3F3;
  text-align: right;
  font-size: var(--large-font-size);
}

.menu-text::after {
  /* 疑似要素で四角形を作成 */
  content: '';
  position: absolute;
  top: 1rem;
  left: 0;
  width: calc(100% + 1.1rem);
  /* 横幅を 1rem ずつ大きく */
  height: 90%;
  /* 縦幅を 1rem ずつ大きく */
  border: var(--font-color) solid 0.5rem;
  border-left: none;
  z-index: -1;
  /* .menu-container の後ろに配置 */
}

.menu-text::after:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.intro-title {
  width: 60%;
  height: 10%;
  font-size: var(--large-font-size);
  position: relative;
  background-color: var(--main-color);
  border-bottom: 0.5rem solid #010937;
  border-top: 0.5rem solid #010937;
  border-right: 0.5rem solid #010937;
  text-align: right;
  padding: 0.8rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
}

.intro-title::after {
  content: '';
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  width: calc(100% - 1rem);
  height: 100%;
  z-index: -1;
  background-color: var(--font-color);
}



.intro-title::after:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.intro-title.reversed {
  margin-left: auto;
  text-align: left;
  border-left: 0.5rem solid #010937;
  border-right: none;
  padding-left: 1rem;
}

.intro-title.reversed::after {
  content: '';
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  width: calc(100% - 1rem);
  height: 100%;
  z-index: -1;
  background-color: var(--font-color);
}

.intro-title.reversed::after:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.howto-container {
  width: calc(100% - 10rem);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  gap: 2rem;
  max-width: 100%;
  overflow: hidden;
}



.item {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  margin: 1rem;
  max-width: 100%;
  box-sizing: border-box;
}

.img-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  /* overflow-x: auto; */
  overflow: hidden;
}

.item p {
  width: 20rem;
  word-wrap: break-word;
  font-size: var(--normal-font-size);
}

.img-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
}

.img-wrapper::after {
  content: '';
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  width: calc(100% + 0.5rem);
  height: 100%;
  z-index: -1;
  background-color: var(--font-color);
  margin-bottom: 1rem;
}

#recommend{
  width: 100%;
}

.record {
  width: 20rem;
  height: 20rem;
}

/* footer */
footer {
  margin-top: 10rem;
  position: sticky;
  left: 0;
  width: 100%;
  background-color: var(--main-color);
  z-index: 100;
}

.footer-container {
  border-top: 0.5rem solid #010937;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.footer-left {
  display: flex;
  gap: 1rem;
}

.footer-left a {
  font-family: var(--font-family);
  color: var(--font-color);
  font-weight: bold;
  margin-left: 1rem;
}

.footer-right p {
  font-family: var(--font-family);
  font-weight: bold;
  color: var(--font-color);
  padding: 1rem;
}

/* -----shareSNS.html----- */
article{
    display: flex;
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
}

#SNS-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  display: inline-block;
  z-index: 10;
}

#SNS-menu h1 {
  background-color: transparent;
}

#SNS-menu span {
  font-size: 5rem;
  display: inline-block;
}

.SNS-container {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  margin-top: 3rem;
  width: 80%;
}

.SNS-title {
  font-size: 3rem;
}

.SNS-items {
  position: absolute;
  top: 50%;
  left: 0;
  border: 5px solid black;
  display: inline-block;
  padding: 1rem;
  z-index: 10;
}

.SNS-icons {
  display: flex;
  padding: 1rem;
  gap: 2rem;
}

.SNS-icon {
  width: 6rem;
}

.right-image {
  position: relative;
  border: 0.5rem solid black;
  width: 50%;
  height: auto;
  object-fit: cover;
  float: right;
  margin-right: 4rem;
}

.left-image {
  position: relative;
  border: 0.5rem solid black;
  width: 30%;
  height: auto;
  object-fit: cover;
  float: left;
  margin-right: 4rem;
}

form {
  margin: 1rem;
}



.share-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


::-webkit-scrollbar { /* Chrome, Safari, Opera */
  display: none;
}

scrollbar-width: none; /* Firefox */
-ms-overflow-style: none;  /* IE and Edge */